<!DOCTYPE html>
<html>
<head>
  <title>SimpleCommunity</title>
  <%= stylesheet_link_tag    "simple_community/application", :media => "all" %>
  <%= javascript_include_tag "simple_community/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="span2">
	  <div class="well">
      	<%= image_tag profile_picture() %>
      	<p>Welcome, <%= user_name() %></p>
      	<p>Total posts: <%= post_count() %></p>
      	<p>Unverified posts: <%= unverified_post_count() %></p>
        <%= link_to "New Post", new_post_path, :class => "btn btn-success" %>
	  </div><!-- well -->
    </div><!-- span2 -->
    <div class="span10">
      <%= yield %>
    </div><!-- span10 -->
  </div>
</div>

</body>
</html>
