<div class="media">
  <a class="pull-left" href="#">
  	<% if @post.user %>
	  <img class="media-object" src="<%= profile_picture_for(@post.user) %>" />
    <% else %>
	  <%= image_tag path_to_placeholder(), :class => "media-object" %>
    <% end %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <%= post.name %>
  	</h4>
    <%= truncate(post.content, :length => 200) %>
    <br />
    <div class="btn-group">
	  <%= link_to "Comment (" + post.comments.where("verified = ?", true).size.to_s + ")", new_post_comment_path(post), :class => "btn" %>
	  <%= link_to "Read more", post, :class => "btn" %>
    </div><!-- btn-group -->
  </div><!-- media-body -->
</div><!-- media -->

<div style="clear: both;"></div>