<p id="notice"><%= notice %></p>

<h1><%= @post.name %></h1>

<% if (!@post.verified) then %>
	<p class="alert alert-warning">This post is pending verification</p>
<% end %>

<p><%= @post.content %></p>

<%= render @post.comments.where("verified = ?", true) %>

<div class="btn-group">
	<%= link_to 'Back to Posts', posts_path, :class => "btn" %>
	<%= link_to 'Edit', edit_post_path(@post), :class => "btn" if @post.is_owner? %>
	<%= link_to 'Comment', new_post_comment_path(@post), :class => "btn" if @post.verified %>
</div><!-- btn-group -->

